@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  margin: 2em;
  background: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/H.G._Wells_by_Beresford.jpg");
}

@media (max-width: 460px) {
  body {
    margin: 1em;
  }
}

main {
  background: rgba(99, 94, 94, 0.8);
  padding: 1.5em;
  border-radius: 20px;
  font-family: 'Source Sans Pro';
  color: white;
}

#headtitle {
  margin: 1.5em;
  text-align: center;
}

#title {
  font-size: 50px;
  margin: 0;
}

#img-div {
  float: right;
  margin: 50px;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  text-align: center;
}

li {
  padding: 0.5em;
}

#read-more {
  padding: 1.5em;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(22, 23, 24);
}

a:visited {
  color: lightblue;
}
